# November 2022 Elections

**Question**  November 2022 elections will be conducted shortly. My question is to predict the total registration and votes (in thousands) in November 2022 elections by sex, race and Hispanic origin for states based on information collected from 1990 until 2020.

Note, US census recognizes two ethnicities: Hispanic origin and Non-Hispanic origin. Further data is gathered by age, income, marital-status, race, sex, etc.,.

Table 4 (a or b) reports Voting and Registration, by Sex, Race and Hispanic Origin, for States: November (even year) in the United States Census Bureau page. Based on the collected data (even years 1990 - 2020, inclusive) I would like to analyze and predict the Total Registration and Votes in the November 2022 elections by Sex, Race and Hispanic Origin, for States. My hope is to address the following sub-questions:

**Sub-Questions**

1. Can we say that a certain demography is more engaged with the electoral process? For instance, can we say where are Asian voters most and least engaged? 
2. Can we identify areas of changes in registration and voting patterns from year to year?  

By the end of this project I hope to learn Tableau enough to use it meaningfully. 

Website: https://www.census.gov/data.html



**Current Status of the project**
I have collected all the requisite files from the US Census Bureau website. 
Over the past 30 years, the file formats have changed, from their tabulations to their electronic formats. For instance, files from the 1990s are either in text or pdf formats (even scanned pdf in some cases), 
and more recent files are available in excel format. 
Since the form of tabulations have changed, at present I am working on getting a consistent form from the raw data.

In [1]:
import pandas as pd
import tabula
import csv
import os
import numpy as np 
from tabula.io import read_pdf

pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',400)

In [ ]:
states=['','ALABAMA','ALASKA','ARIZONA','ARKANSAS','CALIFORNIA', 'COLORADO','CONNECTICUT','DELAWARE',
        'DISTRICT_OF_COLUMBIA','FLORIDA','GEORGIA','HAWAII','IDAHO','ILLINOIS','INDIANA','IOWA',
           'KANSAS','KENTUCKY','LOUISIANA','MAINE','MARYLAND','MASSACHUSETTS','MICHIGAN','MINNESOTA',
           'MISSISSIPPI','MISSOURI', 'MONTANA', 'NEBRASKA','NEVADA', 'NEW_HAMPSHIRE','NEW_JERSEY',
           'NEW_MEXICO','NEW_YORK','NORTH_CAROLINA', 'NORTH_DAKOTA','OHIO', 'OKLAHOMA','OREGON',
           'PENNSYLVANIA','RHODE_ISLAND','SOUTH_CAROLINA','SOUTH_DAKOTA','TENNESSEE','TEXAS',
           'UTAH','VERMONT', 'VIRGINIA','WASHINGTON', 'WEST_VIRGINIA','WISCONSIN','WYOMING']

#### Years 2010 - 2020

In [21]:
for year in ['2018','2020']:
    df=pd.read_csv('raw_election_data/tab04b_'+year+'.csv', header = 2, skiprows = lambda x: x in [0, 3])
    df = df.dropna(how='all').dropna(how='all', axis=1)
    df = df.reset_index(drop = True)
    df.to_csv('clean_election_data/tab_'+year+'.csv', sep=',')

In [22]:
for year in ['2012','2014','2016']:
    df=pd.read_csv('raw_election_data/tab04b_'+year+'.csv', header = 2)
    df = df.dropna(how='all').dropna(how='all', axis=1)
    headers = df.iloc[0]
    df  = pd.DataFrame(df.values[1:], columns=headers)
    df = df.reset_index(drop = True)
    df.to_csv('clean_election_data/tab_'+year+'.csv', sep=',')

In [23]:
for year in ['2010']:
    df=pd.read_csv('raw_election_data/tab04b_'+year+'.csv', header = 1)
    df = df.dropna(how='all').dropna(how='all', axis=1)
    headers = df.iloc[0]
    df  = pd.DataFrame(df.values[1:], columns=headers)
    df = df.reset_index(drop = True)
    df.to_csv('clean_election_data/tab_'+year+'.csv', sep=',')

#### Years 2000 - 2008

In [24]:
for year in ['2004','2006','2008']:
    df=pd.read_csv('raw_election_data/tab04b_'+year+'.csv', header = 2, skiprows = lambda x: x in [0, 3])
    df = df.dropna(how='all').dropna(how='all', axis=1)
    df['State'] = df['State, sex, race, and Hispanic origin']
    cols = list(df.columns)
    cols = [cols[-1]] + cols[:-1]
    df = df[cols]
    df = df.reset_index(drop = True)
    df.to_csv('clean_election_data/tab_'+year+'.csv', sep=',')

In [25]:
for year in ['2002']:
    df=pd.read_csv('raw_election_data/tab04b_'+year+'.csv', header = 2, skiprows = lambda x: x in [0, 3])
    df = df.dropna(how='all').dropna(how='all', axis=1)
    df['State, sex, race, and Hispanic origin']=df['STATE']
    cols = list(df.columns)
    cols = [cols[-1]] + cols[:-1]
    df = df[cols]
    df = df.reset_index(drop = True)
    df.to_csv('clean_election_data/tab_'+year+'.csv', sep=',')

In [26]:
for year in ['2000']:
    df=pd.read_csv('raw_election_data/tab04b_'+year+'.csv', header = 3, skiprows = lambda x: x in [0, 3])
    df = df.dropna(how='all').dropna(how='all', axis=1)
    headers = df.iloc[0]
    df  = pd.DataFrame(df.values[1:], columns=headers)
    df['State, sex, race, and Hispanic origin']=df['STATE']
    cols = list(df.columns)
    cols = [cols[-1]] + cols[:-1]
    df = df[cols]
    df = df.reset_index(drop = True)
    df.to_csv('clean_election_data/tab_'+year+'.csv', sep=',')

#### Years 1990 - 1998

In [10]:
for year in ['1998']:
    txt_file=  open('raw_election_data/tab04_1998.txt', 'r') 
    csv_file = open('raw_election_data/tab04_1998.csv','w')
    s=txt_file.read().split('\n')
    s1=s[7].strip().split('|')
    s2=s[8].strip().split('|')
    z = list(zip(s1,s2))
    column_name = [(a[0]+' '+a[1]).strip() for a in z]
    column_name.extend(['']*5)
    csvwriter = csv.writer(csv_file) 
    csvwriter.writerow(column_name) 

    for i in range(10,len(s)-6):
        r =s[i].strip().split()
        if r[3].isalpha():
            r[0]=' '.join(r[:4])
            r = [r[0]]+r[4:]
        elif r[2].isalpha():
            r[0]=' '.join(r[:3])
            r = [r[0]]+r[3:]
        elif r[1].isalpha():
            r[0]=' '.join(r[:2])
            r = [r[0]]+r[2:]       
        if len(r)<16:
            r.extend(['']*(16-len(r)))
            csvwriter.writerow(r)
    txt_file.close()
    csv_file.close()
    
    df = pd.read_csv('raw_election_data/tab04_1998.csv')
    df = df.dropna(how='all').dropna(how='all', axis=1)
    df['State, sex, race, and Hispanic origin']=df['STATE']
    cols = list(df.columns)
    cols = [cols[-1]] + cols[:-1]
    df = df[cols]
    df = df.reset_index(drop = True)
    df.to_csv('clean_election_data/tab_'+year+'.csv', sep=',')

In [ ]:
for year in ['1996']:
    df_page24 = pd.concat(read_pdf("raw_election_data/table4_"+year+".pdf", multiple_tables=True, area=[[100.875,12.75,600,425]],pages=[24],pandas_options={'header': None}))
    df_rest = pd.concat(read_pdf("raw_election_data/table4_"+year+".pdf", multiple_tables=True, area=[[120.875,12.75,540,425]],pages=list(range(25,32)),pandas_options={'header': None}))
    frames = [df_page24, df_rest]
    df = pd.concat(frames)
    df=df.reset_index(drop = True)
    df=df.drop(df.index[366])
    df.to_csv('clean_election_data/tab_'+year+'.csv', sep=',')

In [2]:
for year in ['1994']:
    txt_file=  open('raw_election_data/tab04_'+year+'.txt', 'r') 
    csv_file = open('raw_election_data/tab04_'+year+'.csv','w')
    csvwriter = csv.writer(csv_file) 

    column_names = ['STATE', 'All Persons','Total Registered','Percent Registered', 'Standard Error',
                  'Total Voted','Percent Voted','Standard Error']
    csvwriter.writerow(column_names)


    s=txt_file.read().split('\n')
    s[15]=s[15].replace('TOTAL','UNITED STATES')

    intervals=[(15,62), (130,179),(247,296),(364,413),(481,530),(598,647), 
               (715,764),(832,881),(949,998),(1066,1115),(1183,1202)]

    for t in intervals:
        for i in range(t[0],t[1]):
            s[i] = list(filter(('.').__ne__, s[i].split()))

        for i in range(t[0],t[1]):
            if len(s[i]) == 1:
                s[i+2][0]=s[i][0]+' '+s[i+2][0]
            elif len(s[i]) == 2:
                s[i+2][0]=s[i][0]+' '+s[i][1]+' '+s[i+2][0]
            elif len(s[i]) == 3:
                s[i+2][0]=s[i][0]+' '+s[i][1]+' '+s[i][2]+' '+s[i+2][0]

            if len(s[i])>3:
                if s[i][1].isalpha():
                    s[i][0]=s[i][0]+' '+s[i][1]
                    s[i].remove(s[i][1])

                csvwriter.writerow(s[i])

    txt_file.close()
    csv_file.close()
    df =  pd.read_csv('raw_election_data/tab04_'+year+'.csv')
    df['State, sex, race, and Hispanic origin']=df['STATE']
    cols = list(df.columns)
    cols = [cols[-1]] + cols[:-1]
    df = df[cols]
    df = df.reset_index(drop = True)
    df.to_csv('clean_election_data/tab_'+year+'.csv', sep=',')

In [2]:
import pandas as pd
df = pd.read_csv('clean_election_data/tab_1994.csv')

###  Using PySpark, clean2  (some changes by hand to the csv files are needed)

In [1]:
from pyspark import SparkContext
sc = SparkContext("local[*]", "badxml")
from pyspark import SQLContext
sqlContext = SQLContext(sc)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/10 08:48:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

/Users/umaiyer/opt/anaconda3/lib/python3.9/site-packages/pyspark/sql/context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [2]:
from pyspark.sql.functions import col, regexp_replace, translate, overlay, when, expr,udf,upper,concat,concat_ws

from pyspark.sql.types import IntegerType,BooleanType,DateType,StringType

### 1994

In [ ]:
df94 = sqlContext.read.csv('clean_election_data/tab_1994.csv').\
        toDF('co','Categories','State','Total_Population','Total_Registered','Percent_Registered','Standard_Error',
             'Total_Voted','Percent_Voted','Standard_Error').\
        select(['State','Total_Population','Total_Registered','Total_Voted'])
df94 = df94.withColumn("Total_Population",df94.Total_Population.cast(IntegerType())).\
        withColumn("Total_Registered",df94.Total_Registered.cast(IntegerType())).\
        withColumn("Total_Voted",df94.Total_Voted.cast(IntegerType()))
df94.write.csv("clean2_election_data/tab_1994.csv")

### 1996

In [ ]:
df96 = sqlContext.read.csv('clean_election_data/tab_1996.csv').\
        toDF('co','Categories1','Total_Population','Total_Registered','Percent_Registered','Standard_Error',
             'Total_Voted','Percent_Voted','Standard_Error').\
        withColumn("Categories", regexp_replace('Categories1', '\.', '')).\
        withColumn("Total_Population", regexp_replace('Total_Population', ',', '')).\
        withColumn("Total_Registered", regexp_replace('Total_Registered', ',', '')).\
        withColumn("Total_Voted", regexp_replace('Total_Voted', ',', '')).\
        select(['Categories','Total_Population','Total_Registered','Total_Voted'])
    

df96=df96.withColumn("Total_Population",df96.Total_Population.cast(IntegerType())).\
        withColumn("Total_Registered",df96.Total_Registered.cast(IntegerType())).\
        withColumn("Total_Voted",df96.Total_Voted.cast(IntegerType()))
df96.write.csv("clean2_election_data/tab_1996.csv")

### 1998. We have more rows here because we have more categories.

In [ ]:
df98 = sqlContext.read.csv('clean_election_data/tab_1998.csv').\
        toDF('c0', 'Categories','STATE', 'Total_Population', 'Total_Citizen','Percent_Citizen', 'Standard_Error', 
             'Total_Registered', 'Percent_Registered', 'Standard_Error', 'Total_Voted', 'Percent_Voted', 
             'Standard_Error').\
        withColumn("Total_Population", regexp_replace('Total_Population', ',', '')).\
        withColumn("Total_Registered", regexp_replace('Total_Registered', ',', '')).\
        withColumn("Total_Voted", regexp_replace('Total_Voted', ',', '')).\
        select(['Categories','Total_Population','Total_Registered','Total_Voted'])
df98=df98.withColumn("Total_Population",df98.Total_Population.cast(IntegerType())).\
        withColumn("Total_Registered",df98.Total_Registered.cast(IntegerType())).\
        withColumn("Total_Voted",df98.Total_Voted.cast(IntegerType()))
df98.write.csv("clean2_election_data/tab_1998.csv")

### 2000. We have more rows here, compared to 1998. Moreover, now Total Population is Population 18 or over

In [9]:
df00 = sqlContext.read.csv('clean_election_data/tab_2000.csv').\
            toDF('c0','State', 'Categories1', 
                'c3','Total_Population','Total citizen', 'Percent citizen', 
                 'Confidence interval', 'Confidence interval', 'Confidence interval', 
                 'Total_Registered', 'Percent registered (18+)', 
                 'Confidence interval', 'Confidence interval', 
                 'Confidence interval', 'Total_Voted', 'Percent voted (18+)', 
                 'Confidence interval', 'Confidence interval', 'Confidence interval').\
            withColumn("Total_Population", regexp_replace('Total_Population', ',', '')).\
            withColumn("Total_Registered", regexp_replace('Total_Registered', ',', '')).\
            withColumn("Total_Voted", regexp_replace('Total_Voted', ',', ''))
df00 = df00.select([concat_ws('-',df00.Categories1,df00.c3).alias('Categories'),
                    'Total_Population','Total_Registered','Total_Voted']).\
            withColumn("Total_Population",df00.Total_Population.cast(IntegerType())).\
            withColumn("Total_Registered",df00.Total_Registered.cast(IntegerType())).\
            withColumn("Total_Voted",df00.Total_Voted.cast(IntegerType()))
df00.write.csv("clean2_election_data/tab_2000.csv")

### 2002

In [ ]:
df02 = sqlContext.read.csv('clean_election_data/tab_2002.csv').\
        toDF('c0', 
             'STATE','Categories', 'Total_Population', 'Total citizen', 'Percent citizen','Confidence interval', 
             'Total_Registered','Percent registered (18+)','Confidence interval.1',
             'Total_Voted', 'Percent voted (18+)', 'Confidence interval.2').\
        withColumn("Categories", regexp_replace('Categories', '\.', '')).\
        withColumn("Total_Population", regexp_replace('Total_Population', ',', '')).\
        withColumn("Total_Registered", regexp_replace('Total_Registered', ',', '')).\
        withColumn("Total_Voted", regexp_replace('Total_Voted', ',', '')).\
        select(['Categories','Total_Population','Total_Registered','Total_Voted'])
df02 = df02.withColumn("Total_Population",df02.Total_Population.cast(IntegerType())).\
        withColumn("Total_Registered",df02.Total_Registered.cast(IntegerType())).\
        withColumn("Total_Voted",df02.Total_Voted.cast(IntegerType()))
df02.write.csv("clean2_election_data/tab_2002.csv")

### 2004

In [ ]:
df04 = sqlContext.read.csv('clean_election_data/tab_2004.csv').\
        toDF('c0', 'State','Categories','Total_Population', 'Total_Citizen', 'Percent citizen (18+)', 
             'Margin of error1', 'Total_Registered', 'Percent_Registered','Margin of error1.1', 
             'Total_Voted', 'Percent voted','Margin of error1.2').\
        withColumn("Categories", regexp_replace('Categories', '\.', '')).\
        withColumn("Total_Population", regexp_replace('Total_Population', ',', '')).\
        withColumn("Total_Registered", regexp_replace('Total_Registered', ',', '')).\
        withColumn("Total_Voted", regexp_replace('Total_Voted', ',', '')).\
        select(['Categories','Total_Population','Total_Registered','Total_Voted'])
df04 = df04.withColumn("Total_Population",df04.Total_Population.cast(IntegerType())).\
        withColumn("Total_Registered",df04.Total_Registered.cast(IntegerType())).\
        withColumn("Total_Voted",df04.Total_Voted.cast(IntegerType()))
df04.write.csv("clean2_election_data/tab_2004.csv")

# 2006, 2008

In [ ]:
#First clean with pandas for some extra lines:
states=['UNITED_STATES','ALABAMA','ALASKA','ARIZONA','ARKANSAS','CALIFORNIA', 'COLORADO','CONNECTICUT','DELAWARE',
        'DISTRICT_OF_COLUMBIA','FLORIDA','GEORGIA','HAWAII','IDAHO','ILLINOIS','INDIANA','IOWA',
           'KANSAS','KENTUCKY','LOUISIANA','MAINE','MARYLAND','MASSACHUSETTS','MICHIGAN','MINNESOTA',
           'MISSISSIPPI','MISSOURI', 'MONTANA', 'NEBRASKA','NEVADA', 'NEW_HAMPSHIRE','NEW_JERSEY',
           'NEW_MEXICO','NEW_YORK','NORTH_CAROLINA', 'NORTH_DAKOTA','OHIO', 'OKLAHOMA','OREGON',
           'PENNSYLVANIA','RHODE_ISLAND','SOUTH_CAROLINA','SOUTH_DAKOTA','TENNESSEE','TEXAS',
           'UTAH','VERMONT', 'VIRGINIA','WASHINGTON', 'WEST_VIRGINIA','WISCONSIN','WYOMING']

for year in ['2006','2008']:

    df=pd.read_csv('clean_election_data/tab_'+year+'.csv')
    df.drop('Unnamed: 0', axis=1, inplace=True)

    df.at[0,'State']=states[0]+'-Total'
    df.at[0,'State, sex, race, and Hispanic origin']=states[0]+'-Total'

    for i in range(1,52):
        df.at[12*i,'State']=states[i]+'-Total'
        df.at[12*i,'State, sex, race, and Hispanic origin']=states[i]+'-Total'
        df.drop(12*i-1,inplace=True)

    df.reset_index(drop=True,inplace=True)
    df.to_csv('clean_election_data/tab_'+year+'.csv', sep=',')  #Placed back in clean folder. 

    #Don't run again.

In [ ]:
# Now go to PySpark
for year in ['2006','2008']:
    df = sqlContext.read.csv('clean_election_data/tab_'+year+'.csv').\
        toDF('c0', 'Unnamed: 0','State', 'Categories', 
             'Total_Population', 'Total Citizen Population', 'Total_Registered', 
             'Percent_Registered (Total 18+)', 'Margin of error1', 'Percent registered (Citizen 18+)', 
             'Margin of error1.1', 'Total_Voted','Percent voted (Total 18+)',
             'Margin of error1.2', 'Percent voted (Citizen 18+)', 'Margin of error1.3').\
            withColumn("Categories", regexp_replace('Categories', '\.', '')).\
            withColumn("Total_Population", regexp_replace('Total_Population', ',', '')).\
            withColumn("Total_Registered", regexp_replace('Total_Registered', ',', '')).\
            withColumn("Total_Voted", regexp_replace('Total_Voted', ',', '')).\
            select(['Categories','Total_Population','Total_Registered','Total_Voted'])
    df = df.withColumn("Total_Population",df.Total_Population.cast(IntegerType())).\
            withColumn("Total_Registered",df.Total_Registered.cast(IntegerType())).\
            withColumn("Total_Voted",df.Total_Voted.cast(IntegerType()))
    df.write.csv('clean2_election_data/tab_'+year+'.csv')

### 2010

In [ ]:
df10 = sqlContext.read.csv('clean_election_data/tab_2010.csv').\
    toDF('Unnamed: 0', 'STATE', 'Categories', 'Total_Population',
       'Total Citizen Population', 'Total_Registered',
       'Percent registered\n(Total)', 'Margin of Error1',
       'Percent registered\n(Citizen)', 'Margin of Error1.1', 'Total_Voted',
       'Percent voted\n(Total)', 'Margin of Error1.2',
       'Percent voted\n(Citizen)', 'Margin of Error1.3').\
        withColumn("Categories", regexp_replace('Categories', '\.', '')).\
        withColumn("Total_Population", regexp_replace('Total_Population', ',', '')).\
        withColumn("Total_Registered", regexp_replace('Total_Registered', ',', '')).\
        withColumn("Total_Voted", regexp_replace('Total_Voted', ',', '')).\
        select(['STATE','Categories','Total_Population','Total_Registered','Total_Voted'])
df10 = df10.select(concat_ws('-',df10.STATE,df10.Categories)
              .alias("Categories"),'Total_Population','Total_Registered','Total_Voted')
df10 = df10.withColumn("Total_Population",df10.Total_Population.cast(IntegerType())).\
        withColumn("Total_Registered",df10.Total_Registered.cast(IntegerType())).\
        withColumn("Total_Voted",df10.Total_Voted.cast(IntegerType()))

df10.write.csv("clean2_election_data/tab_2010.csv")

# 2012

In [ ]:
df12 = sqlContext.read.csv('clean_election_data/tab_2012.csv').\
    toDF('c0','STATE','Categories','Total_Population','Total_Citizen_Population',
         'Total_Registered',"Percent_Registered (Total)",
         'Margin of Error1',"Percent registered (Citizen)",
         'Margin of Error', 'Total_Voted',"Percent voted (Total)",
         'Margin of Error', "Percent voted (Citizen)",
         'Margin of Error').\
        withColumn("Categories", regexp_replace('Categories', '\.', '')).\
        withColumn("Total_Population", regexp_replace('Total_Population', ',', '')).\
        withColumn("Total_Registered", regexp_replace('Total_Registered', ',', '')).\
        withColumn("Total_Voted", regexp_replace('Total_Voted', ',', '')).\
        select(['STATE','Categories','Total_Population','Total_Registered','Total_Voted'])
df12 = df12.select(concat_ws('-',df12.STATE,df12.Categories)
              .alias("Categories"),'Total_Population','Total_Registered','Total_Voted')
df12 = df12.withColumn("Total_Population",df12.Total_Population.cast(IntegerType())).\
        withColumn("Total_Registered",df12.Total_Registered.cast(IntegerType())).\
        withColumn("Total_Voted",df12.Total_Voted.cast(IntegerType()))

df12.write.csv("clean2_election_data/tab_2012.csv")

# 2014

In [ ]:
df14 = sqlContext.read.csv('clean_election_data/tab_2014.csv').\
        toDF('c0','STATE','Categories','Total_Population','Total Citizen Population',
             'Total_Registered',"Percent registered (Total)",
             'Margin of Error1',"Percent registered (Citizen)",
             'Margin of Error','Total_Voted',
             "Percent voted (Total)",'Margin of Error',
             "Percent voted (Citizen)",'Margin of Error').\
        withColumn("Categories", regexp_replace('Categories', '\.', '')).\
        withColumn("Total_Population", regexp_replace('Total_Population', ',', '')).\
        withColumn("Total_Registered", regexp_replace('Total_Registered', ',', '')).\
        withColumn("Total_Voted", regexp_replace('Total_Voted', ',', '')).\
        select(['STATE','Categories','Total_Population','Total_Registered','Total_Voted'])
df14 = df14.select(concat_ws('-',df14.STATE,df14.Categories)
              .alias("Categories"),'Total_Population','Total_Registered','Total_Voted')
df14 = df14.withColumn("Total_Population",df14.Total_Population.cast(IntegerType())).\
        withColumn("Total_Registered",df14.Total_Registered.cast(IntegerType())).\
        withColumn("Total_Voted",df14.Total_Voted.cast(IntegerType()))

df14.write.csv("clean2_election_data/tab_2014.csv")

# 2016

In [ ]:
df16 = sqlContext.read.csv('clean_election_data/tab_2016.csv').\
        toDF('c0','STATE','Categories','Total_Population',
             'Total Citizen Population','Total_Registered',"Percent registered (Total)",
             'Margin of Error 1',"Percent registered (Citizen)",
             'Margin of Error 1','Total_Voted',"Percent voted (Total)",
             'Margin of Error 1',"Percent voted(Citizen)",'Margin of Error 1').\
        withColumn("Categories", regexp_replace('Categories', '\.', '')).\
        withColumn("Total_Population", regexp_replace('Total_Population', ',', '')).\
        withColumn("Total_Registered", regexp_replace('Total_Registered', ',', '')).\
        withColumn("Total_Voted", regexp_replace('Total_Voted', ',', '')).\
        select(['STATE','Categories','Total_Population','Total_Registered','Total_Voted'])

df16 = df16.select(concat_ws('-',df16.STATE,df16.Categories)
              .alias("Categories"),'Total_Population','Total_Registered','Total_Voted')
df16 = df16.withColumn("Total_Population",df16.Total_Population.cast(IntegerType())).\
        withColumn("Total_Registered",df16.Total_Registered.cast(IntegerType())).\
        withColumn("Total_Voted",df16.Total_Voted.cast(IntegerType()))

df16.write.csv("clean2_election_data/tab_2016.csv")

# 2018

In [ ]:
df18 = sqlContext.read.csv('clean_election_data/tab_2018.csv').\
        toDF('c0','STATE','Categories','Total_Population',
             'Total Citizen Population','Total_Registered',"Percent registered (Total)",
             'Margin of Error 1',"Percent registered (Citizen)",
             'Margin of Error 1','Total_Voted',"Percent voted (Total)",
             'Margin of Error 1',"Percent voted(Citizen)",'Margin of Error 1').\
        withColumn("Categories", regexp_replace('Categories', '\.', '')).\
        withColumn("Total_Population", regexp_replace('Total_Population', ',', '')).\
        withColumn("Total_Registered", regexp_replace('Total_Registered', ',', '')).\
        withColumn("Total_Voted", regexp_replace('Total_Voted', ',', '')).\
        select(['STATE','Categories','Total_Population','Total_Registered','Total_Voted'])

df18 = df18.select(concat_ws('-',df18.STATE,df18.Categories)
              .alias("Categories"),'Total_Population','Total_Registered','Total_Voted')
df18 = df18.withColumn("Total_Population",df18.Total_Population.cast(IntegerType())).\
        withColumn("Total_Registered",df18.Total_Registered.cast(IntegerType())).\
        withColumn("Total_Voted",df18.Total_Voted.cast(IntegerType()))

df18.write.csv("clean2_election_data/tab_2018.csv")

# 2020

In [ ]:
df20 = sqlContext.read.csv('clean_election_data/tab_2020.csv').\
        toDF('c0','STATE',"Categories",'Total_Population','Total citizen population',
             'Total_Registered',"Percent registered (Total)",
             'Margin of error 1',"Percent registered (Citizen)",
             'Margin of error 1.1','Total_Voted',"Percent voted (Total)",
             'Margin of error 1.2',"Percent voted (Citizen)",'Margin of error 1.3').\
        withColumn("Categories", regexp_replace('Categories', '\.', '')).\
        withColumn("Total_Population", regexp_replace('Total_Population', ',', '')).\
        withColumn("Total_Registered", regexp_replace('Total_Registered', ',', '')).\
        withColumn("Total_Voted", regexp_replace('Total_Voted', ',', '')).\
        select(['STATE','Categories','Total_Population','Total_Registered','Total_Voted'])
df20 = df20.select(concat_ws('-',df20.STATE,df20.Categories)
              .alias("Categories"),'Total_Population','Total_Registered','Total_Voted')
df20 = df20.withColumn("Total_Population",df20.Total_Population.cast(IntegerType())).\
        withColumn("Total_Registered",df20.Total_Registered.cast(IntegerType())).\
        withColumn("Total_Voted",df20.Total_Voted.cast(IntegerType()))
df20.write.csv("clean2_election_data/tab_2020.csv")

# Clearn 3 (PySpark)

In [10]:
df94 = sqlContext.read.csv('clean2_election_data/tab_1994.csv/part-00000-2dbc3ac1-4d8d-40c7-b116-4557dbefed89-c000.csv').\
                    toDF('Categories','Total_Population_1994','Total_Registered_1994','Total_Voted_1994').\
                    withColumn("Categories", regexp_replace('Categories', '\.', ''))
df94.toPandas().to_csv("clean3_election_data/tab_1994.csv", header=True)

In [11]:
df96 = sqlContext.read.csv('clean2_election_data/tab_1996.csv/part-00000-62d4b2fd-777f-4da0-be56-0d960899077f-c000.csv').\
                    toDF('Categories','Total_Population_1996','Total_Registered_1996','Total_Voted_1996').\
                    withColumn("Categories", regexp_replace('Categories', '-', ' ')).\
                    withColumn("Categories", regexp_replace('Categories', 'Hispanic origin1', 'HISPANIC ORIGIN')).\
                    select("*", upper(col('Categories'))).\
                    drop(col('Categories')).\
                    withColumnRenamed('upper(Categories)','Categories').\
                    select('Categories', 'Total_Population_1996','Total_Registered_1996','Total_Voted_1996')

df96.toPandas().to_csv("clean3_election_data/tab_1996.csv", header=True)

In [12]:
df98 = sqlContext.read.csv('clean2_election_data/tab_1998.csv/part-00000-0a209eae-8f88-49a5-98f6-eb0bfc5bea52-c000.csv').\
                    toDF('Categories','Total_Population_1998','Total_Registered_1998','Total_Voted_1998').\
                    select("*", upper(col('Categories'))).\
                    drop(col('Categories')).\
                    withColumnRenamed('upper(Categories)','Categories').\
                    withColumn("Categories", regexp_replace('Categories', 'HISPANIC', 'HISPANIC ORIGIN')).\
                    select('Categories', 'Total_Population_1998','Total_Registered_1998','Total_Voted_1998').\
                    filter(~col('Categories').contains('N-H'))

df98.toPandas().to_csv("clean3_election_data/tab_1998.csv", header=True)

In [13]:
df00 = sqlContext.read.csv('clean2_election_data/tab_2000.csv/part-00000-e74bdb6a-cabd-4d34-a728-07adbf927ada-c000.csv').\
                    toDF('Categories','Total_Population_2000','Total_Registered_2000','Total_Voted_2000').\
                    withColumn("Categories", regexp_replace('Categories', 'Hispanic', 'HISPANIC ORIGIN')).\
                    select("*", upper(col('Categories'))).\
                    drop(col('Categories')).\
                    withColumnRenamed('upper(Categories)','Categories').\
                    select('Categories', 'Total_Population_2000','Total_Registered_2000','Total_Voted_2000').\
                    filter(~col('Categories').contains('N-H')).\
                    filter(~col('Categories').contains('API')).\
                    filter(~col('Categories').contains('NOTE:')).\
                    filter(~col('Categories').contains('MAY BE')).\
                    filter(~col('Categories').contains('REPRESENTS')).\
                    withColumn("Categories", regexp_replace('Categories', '-', ' '))


dp = df00.toPandas()
for i in range(52):
    a = dp.iloc[3+6*i]
    temp = dp.drop(3+6*i)
    temp.loc[6*i+5.5]=a
    dp = temp.sort_index().reset_index(drop=True)
dp.to_csv("clean3_election_data/tab_2000.csv", header=True)

In [3]:
df02 = sqlContext.read.csv('clean2_election_data/tab_2002.csv/part-00000-56f03500-166c-4fed-a5a2-6e5a23b3bd09-c000.csv').\
                    toDF('Categories','Total_Population_2002','Total_Registered_2002','Total_Voted_2002').\
                    withColumn('Categories', regexp_replace('Categories', '-', ' ')).\
                    withColumn('Categories', regexp_replace('Categories', 'Hispanic \(of any race\)', 'HISPANIC ORIGIN')).\
                    select("*", upper(col('Categories'))).\
                    drop(col('Categories')).\
                    withColumnRenamed('upper(Categories)','Categories').\
                    select('Categories', 'Total_Population_2002','Total_Registered_2002','Total_Voted_2002').\
                    filter(~col('Categories').contains('NON HISPANIC')).\
                    filter(~col('Categories').contains('ASIAN')).\
                    filter(~col('Categories').contains('FOOTNOTES:')).\
                    filter(~col('Categories').contains('NOTE:')).\
                    filter(~col('Categories').contains('SOURCE:')).\
                    filter(~col('Categories').contains('INTERNET'))
                    
       
dp = df02.toPandas()
for i in range(52):
    a = dp.iloc[3+6*i]
    temp = dp.drop(3+6*i)
    temp.loc[6*i+5.5]=a
    dp = temp.sort_index().reset_index(drop=True)
dp.to_csv("clean3_election_data/tab_2002.csv", header=True)

In [4]:
df04 = sqlContext.read.csv('clean2_election_data/tab_2004.csv/part-00000-481d2a5d-6cc5-4d97-bd50-c9e7ba1b0c7e-c000.csv').\
                    toDF('Categories','Total_Population_2004','Total_Registered_2004','Total_Voted_2004').\
                    filter(~col('Categories').contains('White non-Hispanic')).\
                    filter(~col('Categories').contains('Non-Hispanic')).\
                    filter(~col('Categories').contains('Asian')).\
                    filter(~col('Categories').contains('or in combination')).\
                    filter(~col('Categories').contains('Footnotes:')).\
                    filter(~col('Categories').contains('This figure')).\
                    filter(~col('Categories').contains('1This figure')).\
                    filter(~col('Categories').contains('Note:')).\
                    filter(~col('Categories').contains('Source:')).\
                    filter(~col('Categories').contains('Internet')).\
                    withColumn('Categories', regexp_replace('Categories', '-', ' ')).\
                    withColumn('Categories', regexp_replace('Categories', 'Hispanic \(of any race\)', 'HISPANIC ORIGIN')).\
                    withColumn('Categories', regexp_replace('Categories', ' alone', '')).\
                    select("*", upper(col('Categories'))).\
                    drop(col('Categories')).\
                    withColumnRenamed('upper(Categories)','Categories').\
                    select('Categories', 'Total_Population_2004','Total_Registered_2004','Total_Voted_2004')

dp = df04.toPandas()
dp.to_csv("clean3_election_data/tab_2004.csv", header=True)

In [ ]:
df06 = sqlContext.read.csv('clean2_election_data/tab_2006.csv/part-00000-860b541f-29d7-4776-b8c8-ccb88aab53f2-c000.csv').\
                    toDF('Categories','Total_Population_2006','Total_Registered_2006','Total_Voted_2006').\
                    filter(~col('Categories').contains('White non-Hispanic')).\
                    filter(~col('Categories').contains('Non-Hispanic')).\
                    filter(~col('Categories').contains('Asian')).\
                    filter(~col('Categories').contains('or in combination')).\
                    filter(~col('Categories').contains('Footnotes:')).\
                    filter(~col('Categories').contains('This figure')).\
                    filter(~col('Categories').contains('1This figure')).\
                    filter(~col('Categories').contains('NOTE:')).\
                    filter(~col('Categories').contains('Separate')).\
                    filter(~col('Categories').contains('Please')).\
                    filter(~col('Categories').contains('Source')).\
                    withColumn('Categories', regexp_replace('Categories', '-', ' ')).\
                    withColumn('Categories', regexp_replace('Categories', 'Hispanic \(of any race\)', 'HISPANIC ORIGIN')).\
                    withColumn('Categories', regexp_replace('Categories', ' alone', '')).\
                    select("*", upper(col('Categories'))).\
                    drop(col('Categories')).\
                    withColumnRenamed('upper(Categories)','Categories').\
                    select('Categories', 'Total_Population_2006','Total_Registered_2006','Total_Voted_2006')

dp = df06.toPandas()
dp.to_csv("clean3_election_data/tab_2006.csv", header=True)

In [ ]:
df08 = sqlContext.read.csv('clean2_election_data/tab_2008.csv/part-00000-ddaaf98f-29f0-4db1-9f96-1fa6da9f37bf-c000.csv').\
                    toDF('Categories','Total_Population_2008','Total_Registered_2008','Total_Voted_2008').\
                    filter(~col('Categories').contains('White non-Hispanic')).\
                    filter(~col('Categories').contains('Non-Hispanic')).\
                    filter(~col('Categories').contains('Asian')).\
                    filter(~col('Categories').contains('or in combination')).\
                    filter(~col('Categories').contains('Footnotes:')).\
                    filter(~col('Categories').contains('This figure')).\
                    filter(~col('Categories').contains('1This figure')).\
                    filter(~col('Categories').contains('NOTE:')).\
                    filter(~col('Categories').contains('Separate')).\
                    filter(~col('Categories').contains('Please')).\
                    filter(~col('Categories').contains('Source')).\
                    filter(~col('Categories').contains('Note')).\
                    filter(~col('Categories').contains('Internet')).\
                    withColumn('Categories', regexp_replace('Categories', '-', ' ')).\
                    withColumn('Categories', regexp_replace('Categories', 'Hispanic \(of any race\)', 'HISPANIC ORIGIN')).\
                    withColumn('Categories', regexp_replace('Categories', ' alone', '')).\
                    select("*", upper(col('Categories'))).\
                    drop(col('Categories')).\
                    withColumnRenamed('upper(Categories)','Categories').\
                    select('Categories', 'Total_Population_2008','Total_Registered_2008','Total_Voted_2008')


dp = df08.toPandas()
dp.to_csv("clean3_election_data/tab_2008.csv", header=True)

In [ ]:
df10 = sqlContext.read.csv('clean2_election_data/tab_2010.csv/part-00000-b0711a8f-1561-4606-ada0-f065376c01e0-c000.csv').\
                    toDF('Categories','Total_Population_2010','Total_Registered_2010','Total_Voted_2010').\
                    filter(~col('Categories').contains('White non-Hispanic')).\
                    filter(~col('Categories').contains('Non-Hispanic')).\
                    filter(~col('Categories').contains('Asian')).\
                    filter(~col('Categories').contains('or in combination')).\
                    filter(~col('Categories').contains('Footnotes:')).\
                    filter(~col('Categories').contains('This figure')).\
                    filter(~col('Categories').contains('1This figure')).\
                    filter(~col('Categories').contains('NOTE')).\
                    filter(~col('Categories').contains('Separate')).\
                    filter(~col('Categories').contains('Please')).\
                    filter(~col('Categories').contains('Source')).\
                    filter(~col('Categories').contains('Note')).\
                    filter(~col('Categories').contains('Internet')).\
                    filter(~col('Categories').contains('dash')).\
                    filter(~col('Categories').contains('symbol')).\
                    withColumn('Categories', regexp_replace('Categories', '-', ' ')).\
                    withColumn('Categories', regexp_replace('Categories', 'Hispanic \(of any race\)', 'HISPANIC ORIGIN')).\
                    withColumn('Categories', regexp_replace('Categories', ' alone', '')).\
                    select("*", upper(col('Categories'))).\
                    drop(col('Categories')).\
                    withColumnRenamed('upper(Categories)','Categories').\
                    select('Categories', 'Total_Population_2010','Total_Registered_2010','Total_Voted_2010')


dp = df10.toPandas()
dp.to_csv("clean3_election_data/tab_2010.csv", header=True)

In [ ]:
df12 = sqlContext.read.csv('clean2_election_data/tab_2012.csv/part-00000-a2b126ea-76a1-4936-8370-bf8011b6e749-c000.csv').\
                    toDF('Categories','Total_Population_2012','Total_Registered_2012','Total_Voted_2012').\
                    filter(~col('Categories').contains('White non-Hispanic')).\
                    filter(~col('Categories').contains('Non-Hispanic')).\
                    filter(~col('Categories').contains('Asian')).\
                    filter(~col('Categories').contains('or in combination')).\
                    filter(~col('Categories').contains('Footnotes:')).\
                    filter(~col('Categories').contains('This figure')).\
                    filter(~col('Categories').contains('1This figure')).\
                    filter(~col('Categories').contains('NOTE')).\
                    filter(~col('Categories').contains('Separate')).\
                    filter(~col('Categories').contains('Please')).\
                    filter(~col('Categories').contains('Source')).\
                    filter(~col('Categories').contains('Note')).\
                    filter(~col('Categories').contains('Internet')).\
                    filter(~col('Categories').contains('dash')).\
                    filter(~col('Categories').contains('symbol')).\
                    withColumn('Categories', regexp_replace('Categories', '-', ' ')).\
                    withColumn('Categories', regexp_replace('Categories', 'Hispanic \(of any race\)', 'HISPANIC ORIGIN')).\
                    withColumn('Categories', regexp_replace('Categories', ' alone', '')).\
                    select("*", upper(col('Categories'))).\
                    drop(col('Categories')).\
                    withColumnRenamed('upper(Categories)','Categories').\
                    select('Categories', 'Total_Population_2012','Total_Registered_2012','Total_Voted_2012')


dp = df12.toPandas()
dp.to_csv("clean3_election_data/tab_2012.csv", header=True)

In [ ]:
df14 = sqlContext.read.csv('clean2_election_data/tab_2014.csv/part-00000-80dda9c4-4979-4bb5-943b-aedb4cab4d40-c000.csv').\
                    toDF('Categories','Total_Population_2014','Total_Registered_2014','Total_Voted_2014').\
                    filter(~col('Categories').contains('White non-Hispanic')).\
                    filter(~col('Categories').contains('Non-Hispanic')).\
                    filter(~col('Categories').contains('Asian')).\
                    filter(~col('Categories').contains('or in combination')).\
                    filter(~col('Categories').contains('Footnotes:')).\
                    filter(~col('Categories').contains('This figure')).\
                    filter(~col('Categories').contains('1This figure')).\
                    filter(~col('Categories').contains('NOTE')).\
                    filter(~col('Categories').contains('Separate')).\
                    filter(~col('Categories').contains('Please')).\
                    filter(~col('Categories').contains('Source')).\
                    filter(~col('Categories').contains('Note')).\
                    filter(~col('Categories').contains('Internet')).\
                    filter(~col('Categories').contains('dash')).\
                    filter(~col('Categories').contains('symbol')).\
                    withColumn('Categories', regexp_replace('Categories', '-', ' ')).\
                    withColumn('Categories', regexp_replace('Categories', 'Hispanic \(of any race\)', 'HISPANIC ORIGIN')).\
                    withColumn('Categories', regexp_replace('Categories', ' alone', '')).\
                    select("*", upper(col('Categories'))).\
                    drop(col('Categories')).\
                    withColumnRenamed('upper(Categories)','Categories').\
                    select('Categories', 'Total_Population_2014','Total_Registered_2014','Total_Voted_2014')


dp = df14.toPandas()
dp.to_csv("clean3_election_data/tab_2014.csv", header=True)

In [ ]:
df16 = sqlContext.read.csv('clean2_election_data/tab_2016.csv/part-00000-5b089400-d5e5-474f-acd8-0c384497ca36-c000.csv').\
                    toDF('Categories','Total_Population_2016','Total_Registered_2016','Total_Voted_2016').\
                    filter(~col('Categories').contains('White non-Hispanic')).\
                    filter(~col('Categories').contains('Non-Hispanic')).\
                    filter(~col('Categories').contains('Asian')).\
                    filter(~col('Categories').contains('or in combination')).\
                    filter(~col('Categories').contains('Footnotes:')).\
                    filter(~col('Categories').contains('This figure')).\
                    filter(~col('Categories').contains('1This figure')).\
                    filter(~col('Categories').contains('NOTE')).\
                    filter(~col('Categories').contains('Separate')).\
                    filter(~col('Categories').contains('Please')).\
                    filter(~col('Categories').contains('Source')).\
                    filter(~col('Categories').contains('Note')).\
                    filter(~col('Categories').contains('Internet')).\
                    filter(~col('Categories').contains('dash')).\
                    filter(~col('Categories').contains('symbol')).\
                    filter(~col('Categories').contains('Estimates')).\
                    filter(~col('Categories').contains('https')).\
                    withColumn('Categories', regexp_replace('Categories', '-', ' ')).\
                    withColumn('Categories', regexp_replace('Categories', 'Hispanic \(of any race\)', 'HISPANIC ORIGIN')).\
                    withColumn('Categories', regexp_replace('Categories', ' alone', '')).\
                    select("*", upper(col('Categories'))).\
                    drop(col('Categories')).\
                    withColumnRenamed('upper(Categories)','Categories').\
                    select('Categories', 'Total_Population_2016','Total_Registered_2016','Total_Voted_2016')

dp = df16.toPandas()
dp.to_csv("clean3_election_data/tab_2016.csv", header=True)

In [ ]:
df18 = sqlContext.read.csv('clean2_election_data/tab_2018.csv/part-00000-602fb31c-c3f3-4a39-8e28-4709330645fc-c000.csv').\
                    toDF('Categories','Total_Population_2018','Total_Registered_2018','Total_Voted_2018').\
                    filter(~col('Categories').contains('White non-Hispanic')).\
                    filter(~col('Categories').contains('Non-Hispanic')).\
                    filter(~col('Categories').contains('Asian')).\
                    filter(~col('Categories').contains('or in combination')).\
                    filter(~col('Categories').contains('Footnotes:')).\
                    filter(~col('Categories').contains('This figure')).\
                    filter(~col('Categories').contains('1This figure')).\
                    filter(~col('Categories').contains('NOTE')).\
                    filter(~col('Categories').contains('Separate')).\
                    filter(~col('Categories').contains('Please')).\
                    filter(~col('Categories').contains('Source')).\
                    filter(~col('Categories').contains('Note')).\
                    filter(~col('Categories').contains('Internet')).\
                    filter(~col('Categories').contains('dash')).\
                    filter(~col('Categories').contains('symbol')).\
                    filter(~col('Categories').contains('Estimates')).\
                    filter(~col('Categories').contains('https')).\
                    withColumn('Categories', regexp_replace('Categories', '-', ' ')).\
                    withColumn('Categories', regexp_replace('Categories', 'Hispanic \(of any race\)', 'HISPANIC ORIGIN')).\
                    withColumn('Categories', regexp_replace('Categories', ' alone', '')).\
                    select("*", upper(col('Categories'))).\
                    drop(col('Categories')).\
                    withColumnRenamed('upper(Categories)','Categories').\
                    select('Categories', 'Total_Population_2018','Total_Registered_2018','Total_Voted_2018')

dp = df18.toPandas()
dp.to_csv("clean3_election_data/tab_2018.csv", header=True)

In [ ]:
df20 = sqlContext.read.csv('clean2_election_data/tab_2020.csv/part-00000-8171d0ac-f3dc-4ca5-bda9-a4701e0c8da2-c000.csv').\
                    toDF('Categories','Total_Population_2020','Total_Registered_2020','Total_Voted_2020').\
                    filter(~col('Categories').contains('White non-Hispanic')).\
                    filter(~col('Categories').contains('Non-Hispanic')).\
                    filter(~col('Categories').contains('Asian')).\
                    filter(~col('Categories').contains('or in combination')).\
                    filter(~col('Categories').contains('Footnotes:')).\
                    filter(~col('Categories').contains('This figure')).\
                    filter(~col('Categories').contains('1This figure')).\
                    filter(~col('Categories').contains('NOTE')).\
                    filter(~col('Categories').contains('Separate')).\
                    filter(~col('Categories').contains('Please')).\
                    filter(~col('Categories').contains('Source')).\
                    filter(~col('Categories').contains('Note')).\
                    filter(~col('Categories').contains('Internet')).\
                    filter(~col('Categories').contains('dash')).\
                    filter(~col('Categories').contains('symbol')).\
                    filter(~col('Categories').contains('Estimates')).\
                    filter(~col('Categories').contains('https')).\
                    withColumn('Categories', regexp_replace('Categories', '-', ' ')).\
                    withColumn('Categories', regexp_replace('Categories', 'Hispanic \(of any race\)', 'HISPANIC ORIGIN')).\
                    withColumn('Categories', regexp_replace('Categories', ' alone', '')).\
                    select("*", upper(col('Categories'))).\
                    drop(col('Categories')).\
                    withColumnRenamed('upper(Categories)','Categories').\
                    select('Categories', 'Total_Population_2020','Total_Registered_2020','Total_Voted_2020')

dp = df20.toPandas()
dp.to_csv("clean3_election_data/tab_2020.csv", header=True)